<!-- Validation failure messages -->
<% if @popular_dish.errors.any? %>
  <% @popular_dish.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Popular Dish</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_popular_dish" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @popular_dish.venue_id), :class => "form-control") %>
      </div>

      <!-- Label and input for favorites_id -->
      <div class="form-group">
        <label for="favorites_id" class="control-label">
          Favorites
        </label>

        <input type="text" id="favorites_id" name="favorites_id" placeholder="Favorites" class="form-control" value="<%= @popular_dish.favorites_id %>">
      </div>

      <button class="btn btn-success">
        Create Popular Dish
      </button>
      or
      <a href="/popular_dishes">Cancel</a>
    </form>
  </div>
</div>
